body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #b8f1c8, #d8f7ff);
    color: #003b2d;
    padding: 30px;
}

h1 {
    color: #006b52;
    margin-bottom: 5px;
}

h2 {
    color: #007f60;
    margin-bottom: 20px;
}

.quiz-container {
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    max-width: 600px;
    margin: 0 auto;
    transition: 0.3s ease;
}

.stats {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.options button {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: #00b37e;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.options button:hover {
    background: #008c65;
}

.correct {
    background-color: #5ad66f !important;
}

.wrong {
    background-color: #e05555 !important;
}

.hidden {
    display: none;
}

.time-bar-container {
    width: 100%;
    height: 15px;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0 20px 0;
}

.time-bar {
    height: 100%;
    background: linear-gradient(90deg, #00b37e, #00e6a5);
    width: 100%;
    transition: width 1s linear;
}

#timer {
    font-weight: bold;
    color: #c21e1e;
}
